body {
  font-family: "Blinker", sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

h1 {
  font-family: "DM Serif Text", serif;
  color: darkred;
}

h2 {
  color: navy;
}

p {
  color: #333333;
}

ul {
  color: #444444;
}

table, th, td {
  border: 1px solid #666;
  border-collapse: collapse;
  padding: 8px;
}

table {
  background-color: #ffffff;
  margin-top: 10px;
}

