/* Share Tech for headings */
.share-tech-regular {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: darkred; /* heading color */
}

/* Genos for body text */
.genos-body {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333333; /* paragraph/table text color */
}

body {
  background-color: #f4f4f4;
  margin: 20px;
}

table, th, td {
  border: 1px solid #666;
  border-collapse: collapse;
  padding: 8px;
  background-color: #fff;
}
