/* Headings: Share Tech */
h1, h2 {
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  color: darkred;   /* headings color */
}

/* Body text: Genos */
p, ul, table, td, th {
  font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #333333;   /* paragraph and body text color */
}

body {
  background-color: #f4f4f4;
  margin: 20px;
}

table, th, td {
  border: 1px solid #666;
  border-collapse: collapse;
  padding: 8px;
  background-color: #fff;
}
